/* This is my first css assignment

*/
body{
	background-color: #eee;
	margin: 5px;
	font-family:"comic sans ms", verdana sans serif;
}
div#content{   
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border: 2px solid #ccc;
}
h1, h2, h3{
	color: blue;
	margin: 0;
}
p{
	margin: 0 0 1em 0;
	line-height: 1.5em
}
p.third:first-line{
	font-variant: small-caps;
	font-family: cambria;
	font-weight: bold;
}
#sidebar{   /* this is the sidebar */
	float: right;
	background-color: #ffc;
	width: 20%;
	border: 2px solid red;
	padding: 10px;
}


.highlight{
	background-color: #ffc0cb;
	border: 1px solid red;
	padding: 1px 3px;
}
.green{
	color: green;
}
h3.green{
	background-color: white;
	width: 31.5%;
	border: 1px solid red;
	padding: 1px 2px;
}
a {
	text-decoration: none;
}
a:link{
	color: green;
}
a:visited{
	color: red;
}
a:hover{
	color: blue;
	text-decoration: underline;


